<template name="sidebar">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="{{pathFor route='dashboard'}}">Dashboard</a></li>
      <li><a href="{{pathFor route='inventory'}}">Inventory</a></li>
      <li><a href="{{pathFor route='customers'}}">Customers</a></li>
      <li><a href="{{pathFor route='orders'}}">Orders</a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="">Login</a></li>
      <li><a href="{{pathFor route='settings'}}">Settings</a></li>
    </ul>
  </div>
</template>
